<header class="header-container">
  <div class="header-container__left">
    <button
      nz-button
      nzType="text"
      size="large"
      (click)="toggleMenu()"
      nzShape="circle"
      nzSize="large"
    >
      <i
        nz-icon
        nzType="menu"
        [ngStyle]="{ 'font-size': '1.25rem', 'padding-top': '6px' }"
      ></i>
    </button>
  </div>
  <div class="header-container__middle">
    <img
      routerLink="/"
      src="../../assets/logo.png"
      style="width: 120px; height: 100%; object-fit: cover; cursor: pointer"
      alt="Eccom"
    />
    <nz-input-group
      style="width: 30%"
      nzSearch
      [nzAddOnAfter]="suffixIconButton"
    >
      <input
        [(ngModel)]="keyWord"
        type="text"
        nz-input
        placeholder="Search product"
      />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button (click)="searchData()" nz-button nzType="primary" nzSearch>
        <span nz-icon nzType="search"></span>
      </button>
    </ng-template>
  </div>
  <div class="header-container__right">
    <ng-container>
      <div class="cart-counter">{{ isLoggedIn ? total : 0 }}</div>
      <button
        nz-button
        nz-dropdown
        nzType="text"
        nzTrigger="click"
        nzPlacement="right"
        nzShape="circle"
        nzSize="large"
        [nzVisible]="dropdownVisible"
        (nzVisibleChange)="toggleDropdown()"
        routerLink="/cart"
      >
        <i
          nz-icon
          nzType="shopping-cart"
          [ngStyle]="{ fontSize: '24px', paddingTop: '3px' }"
        ></i>
      </button>
    </ng-container>
  </div>
</header>

<div [className]="isMenuOpen ? 'side-menu show' : 'side-menu'">
  <div class="side-menu__content">
    <h2 routerLink="/" (click)="toggleMenu()">Menu</h2>
    <nav>
      <ul>
        <li routerLink="/" (click)="toggleMenu()">Home</li>
        <li routerLink="/cart" (click)="toggleMenu()">Cart</li>
        <li routerLink="/profile" (click)="toggleMenu()">Profile</li>
        <li routerLink="/order-history" (click)="toggleMenu()">
          Order History
        </li>
      </ul>
    </nav>
    <div class="auth-btn">
      <button
        nz-button
        routerLink="/login"
        (click)="toggleMenu()"
        *ngIf="!isLoggedIn"
      >
        Sign in
      </button>
      <button
        nz-button
        routerLink="/register"
        (click)="toggleMenu()"
        *ngIf="!isLoggedIn"
      >
        Sign up
      </button>
      <button
        routerLink="/login"
        nz-button
        (click)="logout() && toggleMenu()"
        *ngIf="isLoggedIn"
      >
        Sign out
      </button>
    </div>
  </div>
</div>

<div
  [className]="isMenuOpen ? 'darken-background enable' : 'darken-background'"
  (click)="toggleMenu()"
></div>
