<div
  class="wrapper"
  style="background-image: url('../../../../assets/bg-registration-form-1.jpg')"
>
  <nz-alert
    *ngIf="errorMessage"
    nzShowIcon
    nzType="error"
    [nzMessage]="errorMessage"
    [ngStyle]="{
      position: 'absolute',
      top: '15%',
      transform: 'translate(-50%,-50%)',
      transition: 'all .5s',
      left: '50%'
    }"
  ></nz-alert>
  <div class="inner">
    <div class="image-holder">
      <img
        style="width: 100%; height: 100%; object-fit: cover"
        src="../../../../assets/Register.jpg"
        alt=""
      />
    </div>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
      <h3>Register Form</h3>
      <!-- First name - last name -->
      <div class="form-group">
        <input
          nz-input
          type="text"
          class="form-control"
          name="first_name"
          [(ngModel)]="first_name"
          placeholder="First name"
        />
        <input
          nz-input
          type="email"
          name="last_name"
          [(ngModel)]="last_name"
          placeholder="Last name"
          class="form-control"
        />
      </div>
      <!-- Province-->
      <div class="form-wrapper">
        <select
          [(ngModel)]="selectedProvince"
          (change)="onProvinceChange()"
          class="form-control"
          name="province"
        >
          <option
            *ngFor="let province of provinces"
            [value]="province.ProvinceID"
          >
            {{ province.ProvinceName }}
          </option>
        </select>
      </div>

      <!-- City -->
      <div class="form-wrapper" *ngIf="cities">
        <select
          [(ngModel)]="selectedCity"
          class="form-control"
          (change)="onCityChange()"
          name="cities"
        >
          <option *ngFor="let city of cities" [value]="city.DistrictID">
            {{ city.DistrictName }}
          </option>
        </select>
      </div>

      <!-- Ward -->
      <div class="form-wrapper" *ngIf="wards">
        <select
          [(ngModel)]="selectedWard"
          class="form-control"
          name="wards"
          (change)="onWardChange()"
        >
          <option *ngFor="let ward of wards" [value]="ward.WardCode">
            {{ ward.WardName }}
          </option>
        </select>
      </div>

      <!-- Mail -->
      <div class="form-wrapper">
        <input
          nz-input
          type="email"
          name="email"
          class="form-control"
          [(ngModel)]="email"
          placeholder="Email"
        />
      </div>
      <!-- Phone -->
      <div class="form-wrapper">
        <input
          nz-input
          type="text"
          name="phone"
          class="form-control"
          [(ngModel)]="phone"
          placeholder="Phone"
        />
      </div>
      <!-- password -->
      <div class="form-wrapper">
        <input
          nz-input
          type="password"
          name="password"
          class="form-control"
          [(ngModel)]="password"
          placeholder="Password"
        />
      </div>
      <!-- Confirm pass -->
      <div class="form-wrapper">
        <input
          nz-input
          type="password"
          name="confirmPassword"
          class="form-control"
          [(ngModel)]="confirmPassword"
          placeholder="Confirm password"
        />
      </div>
      <!-- Submit -->

      <div class="form-wrapper">
        <button
          nz-button
          type="submit"
          [disabled]="!canSubmit()"
          [nzLoading]="loading"
        >
          Sign up
        </button>
      </div>
      <div class="form-wrapper mt-30">
        <a routerLink="/login" class="navigate-link">I had an account user!</a>
      </div>
    </form>
  </div>
</div>
