<div class="cart-container">
  <div class="cart-container__empty" *ngIf="total === 0">
    Giỏ hàng đang trống.
  </div>
  <div class="cart-container__list" *ngIf="total > 0">
    <header class="list-header">
      <h2>Sản phẩm đã đặt</h2>
    </header>
    <div
      class="list-item"
      *ngFor="let product of products; index as i"
      [ngStyle]="{ border: i === products.length - 1 && 'none' }"
    >
      <div class="list-item__image">
        <img [src]="product.listImage[0]" alt="" />
      </div>
      <div class="list-item__details">
        <div class="title">{{ product.productName }}</div>
        <div class="price">{{ product.price | currency : "VND" }}</div>
        <div class="price">Số lượng : {{ product.itemQuantity }}</div>
      </div>
    </div>
  </div>
  <div class="cart-container__total">
    <div class="price">
      <!-- Total item -->
      <span>
        <p class="mb-0">Tổng số sản phẩm :</p>
        <p class="mb-0" style="margin-left: 20px">{{ total }}</p>
      </span>
      <!-- Local -->
      <span>
        <p style="margin-bottom: 0">
          {{ nameLocal }}
        </p>
      </span>
      <!-- Price shipment -->
      <span>
        <p class="mb-0">Phí ship :</p>
        <p class="mb-0" style="margin-left: 20px">
          {{ shipFee | currency : "VND" }}
        </p>
      </span>
      <!-- Estimated day -->
      <span>
        <p class="mb-0">Thời gian nhận hàng dự kiến :</p>
        <p class="mb-0" style="margin-left: 20px">{{ total }}</p>
      </span>

      <span>
        <h3>Tổng tiền</h3>
        <h2>{{ (!totalAmount ? 0 : totalAmount) | currency : "VND" }}</h2></span
      >
    </div>

    <div class="cta">
      <button
        nz-button
        nzType="primary"
        (click)="checkoutItem()"
        [disabled]="total === 0 || !paymentMethod"
      >
        Đặt hàng
      </button>
      <div class="form-wrapper">
        <p class="mb-0">Phương thức thanh toán</p>
        <select [(ngModel)]="paymentMethod" class="form-control" name="payment">
          <option [value]="'COD'">COD</option>
          <option [value]="'VNPAY'">VNpay</option>
        </select>
      </div>
      <button nz-button routerLink="/cart">Hủy thanh toán</button>
    </div>
  </div>
</div>
