<div class="content">
  <div class="wrapper-1">
    <div class="wrapper-2">
      <h1>Cảm ơn quý khách</h1>
      <p>Chúng tôi rất vinh dự vì bạn đã chọn chúng tôi!</p>
      <p>
        Blawol shop kính chúc quý khách có nhứng trải nghiệm thật tốt với sản
        phẩm của chúng tôi
      </p>
      <button class="go-home" routerLink="/cart">Trở về giỏ hàng</button>
    </div>
    <div class="footer-like">
      <p>
        hoặc tiếp tục mua sắm bằng cách
        <a href="#">nhấn vào đây</a>
      </p>
    </div>
  </div>
</div>

<link
  href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro"
  rel="stylesheet"
/>
