<div class="content">
  <div class="wrapper-1">
    <div class="wrapper-2">
      <h1>Thank you !</h1>
      <p>We're honored that you chose us!</p>
      <p>Many thanks for choosing our shop and see you soon</p>
      <button class="go-home" routerLink="/cart">Back to cart</button>
    </div>
    <div class="footer-like">
      <p>
        or back to continue to shopping
        <a href="#">Click here to back continue shopping</a>
      </p>
    </div>
  </div>
</div>

<link
  href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro"
  rel="stylesheet"
/>
