<div class="cart-container">
  <div class="cart-container__empty" *ngIf="total === 0">
    Your cart is empty.
  </div>
  <div class="cart-container__list" *ngIf="total > 0">
    <header class="list-header">
      <h2>Cart</h2>
    </header>
    <div
      class="list-item"
      *ngFor="let product of products; index as i"
      [ngStyle]="{ border: i === products.length - 1 && 'none' }"
    >
      <div
        class="list-item__remove"
        (click)="removeCartItem(product.cartItemID)"
      >
        X
      </div>
      <div class="list-item__image">
        <img [src]="product.listImage[0]" alt="" />
      </div>
      <div class="list-item__details">
        <div class="title">{{ product.productName }}</div>
        <div class="price">{{ product.price | currency : "VND" }}</div>
        <div class="cta">
          <nz-input-number
            [(ngModel)]="product.itemQuantity"
            [nzMin]="product.quantity > 0 ? 1 : 0"
            [nzMax]="product.quantity > 0 ? product.quantity : 0"
            [nzStep]="1"
            (ngModelChange)="
              updateCart(product.cartItemID, product.itemQuantity)
            "
          ></nz-input-number>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-container__total">
    <div class="price">
      <span>
        <h3>Total amount</h3>
        <h2>{{ (!totalAmount ? 0 : totalAmount) | currency : "VND" }}</h2></span
      >
      <span>
        <h3>Total items</h3>
        <h2>{{ total }}</h2>
      </span>
      <span style="margin-top: 15px">
        <p style="margin-bottom: 0">
          {{ nameLocal }}
        </p>
      </span>
    </div>
    <div class="cta">
      <button
        nz-button
        nzType="primary"
        (click)="checkoutItem()"
        [disabled]="total === 0"
      >
        Checkout
      </button>
      <button nz-button routerLink="/">Back to shopping</button>
    </div>
  </div>
</div>
