<div class="card-wrapper" *ngIf="!loading">
  <div class="card">
    <!-- Image Product -->
    <div class="product-imgs">
      <div class="img-display">
        <div class="img-showcase">
          <img
            *ngFor="let c of showcaseImages"
            src="{{ c }}"
            alt="shoe image"
          />
        </div>
      </div>
      <div class="img-select">
        <div
          [ngClass]="
            showcaseImages.length > 1 ? 'img-item' : 'img-item single-item'
          "
          *ngFor="let c of showcaseImages; index as i"
          (click)="changeSlide(i + 1)"
        >
          <a data-id="{{ index }}">
            <img src="{{ c }}" alt="shoe image" />
          </a>
        </div>
      </div>
    </div>
    <div class="product-content">
      <h2 class="product-title">{{ product.productName }}</h2>
      <a href="#" class="product-link">{{ product.categoryID }}</a>
      <div class="product-rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
        <span>4.7(21)</span>
      </div>

      <div class="product-price">
        <p class="last-price">Giá cũ : <span>VNĐ 257.00</span></p>
        <p class="new-price">
          Giá đang giảm: <span>{{ product.price | currency : "VND" }}</span>
        </p>
      </div>

      <div class="product-detail">
        <h2>Mô tả sản phẩm:</h2>
        <p>
          {{ product.detail }}
        </p>
        <ul>
          <li>Trạng thái: <span>Còn hàng</span></li>
          <li>
            Giới tính :
            <span
              >{{
                product.gender == "Men"
                  ? "Nam"
                  : product.gender == "Women"
                  ? "Nữ"
                  : "Nam và Nữ"
              }}
            </span>
          </li>
          <li>Giao hàng trong: <span>Toàn quốc</span></li>
          <!-- <li>Shipping Fee: <span>Free</span></li> -->
        </ul>
      </div>

      <div class="purchase-info">
        <!-- <input type="number" min="0" value="1" /> -->
        <nz-input-number
          [(ngModel)]="quantity"
          [nzMin]="product.quantity > 0 ? 1 : 0"
          [nzMax]="product.quantity > 0 ? product.quantity : 0"
          [nzStep]="1"
        ></nz-input-number>
        <button
          *ngIf="quantity > 0"
          type="button"
          class="btn"
          (click)="addToCart()"
        >
          Thêm vào giỏ hàng <i class="fas fa-shopping-cart"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Feedback Block -->
<div class="home-container" *ngIf="dataFeedback != null">
  <div class="products">
    <div class="products__header">
      <h2>Đánh giá sản phẩm</h2>
    </div>

    <div class="testimonial-box-container" *ngFor="let n of dataFeedback">
      <!-- Member feedback -->
      <div class="testimonial-box">
        <!--top------------------------->
        <div class="box-top">
          <!--profile----->
          <div class="profile">
            <!--img---->
            <div class="profile-img">
              <img
                src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg"
              />
            </div>
            <!--name-and-username-->
            <div class="name-user">
              <strong>{{ n.user.first_name + n.user.last_name }}</strong>
              <span>{{ n.user.email }}</span>
            </div>
          </div>
          <!--reviews------>
          <div class="reviews">
            <i class="fas fa-star"></i>
            <i
              [ngClass]="
                n.score <= 5 && n.score > 1 ? 'fas fa-star' : 'far fa-star'
              "
            ></i>
            <i
              [ngClass]="
                n.score <= 5 && n.score >= 3 ? 'fas fa-star' : 'far fa-star'
              "
            ></i>
            <i
              [ngClass]="
                n.score <= 5 && n.score >= 4 ? 'fas fa-star' : 'far fa-star'
              "
            ></i>
            <i [ngClass]="n.score == 5 ? 'fas fa-star' : 'far fa-star'"></i>
          </div>
        </div>
        <!--Comments---------------------------------------->
        <div class="client-comment">
          <p>
            {{ n.content }}
          </p>
        </div>
      </div>
    </div>

    <div
      class="testimonial-box-container__pagination"
      *ngIf="dataFeedback.length > 4"
    >
      <button nz-button (click)="previousPage()" [disabled]="currentPage === 0">
        Trước
      </button>
      <span> {{ currentPage != 0 ? "Page " + currentPage : "" }}</span>
      <button
        nz-button
        (click)="nextPage()"
        [disabled]="currentPage === totalPages - 1"
      >
        Sau
      </button>
    </div>
  </div>
</div>

<!-- <div class="home-container" *ngIf="dataFeedback === null">
  <div class="products">
    <div class="products__header">
      <h2>The product has not yet been rated !!!!</h2>
    </div>
  </div>
</div> -->

<div class="home-container">
  <!-- Product -->
  <div class="products">
    <div class="products__header">
      <h2>Sản phẩm tương tự</h2>
    </div>
    <div *ngIf="loading" class="products__loading">
      <ng-template #indicatorTemplate>
        <i
          nz-icon
          nzType="loading"
          [ngStyle]="{ 'font-size': '2rem', margin: '0 auto' }"
        ></i>
      </ng-template>
      <nz-spin nzSimple [nzIndicator]="indicatorTemplate"> </nz-spin>
    </div>
    <div class="products__list" *ngIf="!loading">
      <app-product-card
        *ngFor="let n of products"
        [id]="n.productId"
        [title]="n.productName"
        [image]="n.listImage"
        [price]="n.price"
        [short_desc]="n.detail"
        [category]="n.categoryName"
        [quantity]="n.quantity"
      >
      </app-product-card>
    </div>
  </div>

  <div class="load-products" *ngIf="pageNumber + 1 < total">
    <button
      nz-button
      (click)="showMoreProducts()"
      [nzLoading]="additionalLoading"
    >
      Xem thêm
    </button>
  </div>
</div>
