<!-- <div class="profile-container">
  <div class="form-container">
    <h2>Profile</h2>
    <nz-alert
      [nzType]="alertType"
      nzShowIcon
      [nzMessage]="alertMessage"
      [ngStyle]="{ marginBottom: '12px' }"
      *ngIf="alertVisible"
    ></nz-alert>
    <form (ngSubmit)="onSubmit()">
      <div class="input-container" *ngFor="let field of user">
        <label for="field.key">{{ field.label }}</label>
        <input
          nz-input
          [name]="field.key"
          [type]="field.type"
          [(value)]="field.value"
          [(ngModel)]="field.value"
        />
      </div>
      <div class="cta-container">
        <button
          nz-button
          type="submit"
          [nzLoading]="loading"
          [disabled]="canUpdate()"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</div> -->

<div
  class="wrapper"
  style="background-image: url('../../../../assets/bg-registration-form-1.jpg')"
>
  <nz-alert
    *ngIf="alertVisible"
    [nzType]="alertType"
    nzShowIcon
    [nzMessage]="alertMessage"
    [ngStyle]="{
      position: 'absolute',
      top: '15%',
      transform: 'translate(-50%,-50%)',
      transition: 'all .5s',
      left: '50%'
    }"
  ></nz-alert>
  <div class="inner">
    <div class="image-holder">
      <img
        style="width: 100%; height: 100%; object-fit: cover"
        src="../../../../assets/Register.jpg"
        alt=""
      />
    </div>
    <form (ngSubmit)="onSubmit()">
      <h3>Profile</h3>
      <div class="form-wrapper" *ngFor="let field of user">
        <label style="font-weight: 900" for="field.key">{{
          field.label
        }}</label>
        <input
          class="form-control"
          nz-input
          [name]="field.key"
          [type]="field.type"
          [(value)]="field.value"
          [(ngModel)]="field.value"
        />
      </div>

      <!-- Province-->
      <div class="form-wrapper">
        <select
          [(ngModel)]="selectedProvince"
          (change)="onProvinceChange()"
          class="form-control"
          name="province"
        >
          <option
            *ngFor="let province of provinces"
            [value]="province.ProvinceID"
          >
            {{ province.ProvinceName }}
          </option>
        </select>
      </div>

      <!-- City -->
      <div class="form-wrapper">
        <select
          [(ngModel)]="selectedCity"
          class="form-control"
          (change)="onCityChange()"
          name="cities"
        >
          <option *ngFor="let city of cities" [value]="city.DistrictID">
            {{ city.DistrictName }}
          </option>
        </select>
      </div>

      <!-- Ward -->
      <div class="form-wrapper">
        <select
          [(ngModel)]="selectedWard"
          class="form-control"
          name="wards"
          (change)="onWardChange()"
        >
          <option *ngFor="let ward of wards" [value]="ward.WardCode">
            {{ ward.WardName }}
          </option>
        </select>
      </div>

      <div class="form-wrapper">
        <button
          nz-button
          type="submit"
          [nzLoading]="loading"
          [disabled]="canUpdate()"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</div>
