<main
  class="table"
  id="customers_table"
  style="background-image: url('../../../../assets/bg-registration-form-1.jpg')"
>
  <section class="table__header">
    <h1>History Orders</h1>
  </section>
  <section class="table__body">
    <table>
      <thead>
        <tr>
          <th>No</th>
          <!-- <th>Customer <span class="icon-arrow"></span></th> -->
          <th>Location <span class="icon-arrow"></span></th>
          <!-- <th>Order Date <span class="icon-arrow"></span></th> -->
          <th>Status</th>
          <th>Amount</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders; index as i" style="cursor: pointer">
          <td>{{ i + 1 }}</td>
          <td>{{ order.address }}</td>
          <td [ngClass]="order.status">{{ order.status }}</td>
          <td>
            <strong> {{ order.price | currency : "VND" }} </strong>
          </td>
          <button
            nz-button
            type="submit"
            [nzLoading]="loading"
            [disabled]="order.status == 'CANCELED'"
            (click)="cancelOrder(order.orderID)"
          >
            Cancel
          </button>
        </tr>
      </tbody>
    </table>
  </section>
</main>
