<main
  class="table"
  id="customers_table"
  style="background-image: url('../../../../assets/bg-registration-form-1.jpg')"
>
  <section class="table__header">
    <h1>Lịch sử đặt hàng</h1>
  </section>
  <section class="table__body">
    <table>
      <thead>
        <tr>
          <th>Mã đơn hàng</th>
          <th>Địa chỉ <span class="icon-arrow"></span></th>
          <th>Trạng thái</th>
          <th>Tổng tiền</th>
          <th style="z-index: 999">Tùy chọn</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let order of orders; index as i"
          style="cursor: pointer"
          (click)="handleSingleOrder(order.orderID)"
        >
          <td>{{ order.orderID }}</td>
          <td>{{ order.address }}</td>
          <td [ngClass]="order.status">{{ order.status }}</td>
          <td>
            <strong> {{ order.price | currency : "VND" }} </strong>
          </td>
          <td>
            <button
              nz-button
              type="submit"
              [nzLoading]="loading"
              [disabled]="
                order.status == 'CANCELED' || order.status == 'RECEIVED'
              "
              (click)="cancelOrder(order.orderID)"
            >
              Hủy
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
