<div class="home-container">
  <!-- Banner -->
  <div
    id="myCarousel"
    class="carousel slide carousel-fade"
    data-ride="carousel"
    [ngStyle]="{
      'background-image': 'url(' + banner[slideIndex].imgsource + ')'
    }"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="mask flex-center">
          <div class="container">
            <div class="row align-items-center">
              <div
                style="
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                "
                class="col-12 order-md-1 order-2"
              >
                <h4>{{ banner[slideIndex].title }}</h4>
                <p style="color: #fff">
                  {{ banner[slideIndex].detail }}
                </p>
                <br />
                <a href="#">BUY NOW</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a
      class="carousel-control-prev"
      role="button"
      data-slide="prev"
      style="margin-left: 50px"
      (click)="prevSlide()"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      role="button"
      data-slide="next"
      style="margin-right: 50px"
      (click)="nextSlide()"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- Categories -->
  <div class="categories">
    <div class="categories__header">
      <h2>Categories</h2>
    </div>
    <div class="Items">
      <div class="Item" *ngFor="let c of categories">
        <a href="" class="Item__link">
          <div class="Item__title">{{ c.name }}</div>
        </a>
      </div>
    </div>
  </div>

  <!-- Product -->
  <div class="products">
    <div class="products__header">
      <h2>Recommend</h2>
    </div>
    <div *ngIf="loading" class="products__loading">
      <ng-template #indicatorTemplate>
        <i
          nz-icon
          nzType="loading"
          [ngStyle]="{ 'font-size': '2rem', margin: '0 auto' }"
        ></i>
      </ng-template>
      <nz-spin nzSimple [nzIndicator]="indicatorTemplate"> </nz-spin>
    </div>
    <div class="products__list" *ngIf="!loading">
      <app-product-card
        *ngFor="let n of products"
        [id]="n.productId"
        [title]="n.productName"
        [image]="n.listImage"
        [price]="n.price"
        [short_desc]="n.detail"
        [category]="n.categoryName"
        [quantity]="n.quantity"
      >
      </app-product-card>
    </div>
  </div>

  <div class="load-products" *ngIf="pageNumber + 1 < total">
    <button
      nz-button
      (click)="showMoreProducts()"
      [nzLoading]="additionalLoading"
    >
      Show more
    </button>
  </div>
</div>
